form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 10px;
}

mat-radio-button {
  margin-right: 10px;
}

mat-form-field, mat-radio-group {
  margin-bottom: 15px;
}

.tooltipContainer{
  width: fit-content;
}
